<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
  <tr>
    <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
      <h1><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Dear <%= @client.full_name %>,</span></h1>
    </td>
  </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
  <tr>
    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
      <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
        <tbody>
        <tr>
          <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
            <h2 style="text-align: center;"><span style="font-family:lucida sans unicode,lucida grande,sans-serif">Your subscription has been ended.<br>You have to subscribe again to enjoy this service.<br>
                  <br>
                  <strong>Order code :</strong>&nbsp;<%= @subscription.order_code %></span>
            </h2>
            &nbsp;
            <div style="text-align: center;">
              <span style="font-family:lucida sans unicode,lucida grande,sans-serif">Thanks for using xGram services.</span>
            </div>
            <div style="text-align: center;">&nbsp;</div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
  <tr>
    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
  </tbody>
</table>